/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

label, input {
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  width: 70%;
}

/* Search Form CSS */
.search-form {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.icon-shopping-cart {
  height: auto;
  width: 50px;
}

/* Search Result CSS */
.search-result {
  display: flex;
  justify-content: center;
}
